.tribute-container {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    height: auto;
    overflow: visible;
    display: block;
    margin-top: 4px;
    margin-left: 1px;
    background-color: #fff;
    color: #424242;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 280px;
    max-height: 368px;
    z-index: 999;

    .header {
        height: 60px;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 8px 16px 0;
    }

    ul {
        margin: 8px 0;
        padding: 0;
        list-style: none;
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: auto;

        li {
            align-items: center;
            color: #424242;
            cursor: pointer;
            display: flex;
            font-size: 14px;
            font-weight: 400;
            height: 56px;
            padding: 0 16px;

            &.highlight {
                background: #eeeeee;
            }

            &.no-match {
                cursor: default;
            }

            span {
                font-weight: 600;
                &.email {
                    color: #717171;
                    font-size: 12px;
                    font-weight: normal;
                }
            }

            img {
                width: 32px;
                height: 32px;
                margin-right: 16px;
                border-radius: 50%;
            }
        }
    }

    .menu-highlighted {
        font-weight: bold;
    }
}
